body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.title-box {
    background-color: greenyellow;
    width: 100%;
    height: auto;
}
.title-box-content {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px;
    font-size: 48px;
    color: aliceblue;
}
.player-box {
    width: 50%;
    background-color: aliceblue;
    display: inline-block;
}
.float-child {
    float: right;
}
.clear-float {
    clear: both;
}
.player-box-content {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    font-size: 30px;
    color: greenyellow;
}
.player-box-content-selection {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    font-size: 64px;
    color: greenyellow;
}
.result-box {
    width: 100%;
    background-color: aliceblue;
    display: inline-block;
}
.result-box-content {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    font-size: 30px;
    background-color: greenyellow;
    color: aliceblue;
}
.result-box-content-selection {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    font-size: 64px;
    background-color: greenyellow;
    color: aliceblue;
}
.buttons-container {
    padding: 25px;
    text-align: center;
    background-color: aliceblue;
}
.game-button {
    background-color: greenyellow;
    border-radius: 5px;
    border-color: aliceblue;
    border-style: dashed;
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
}